[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
djangorestframework = "~=3.15.0"

[dev-packages]
coverage = "~=7.6.0"
pyflakes = "~=3.2.0"
pylint = "~=3.2.6"

[requires]
python_version = "3.11"

[scripts]
server = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
tests = "python manage.py test"
coverage = "coverage run manage.py test"
coverage-report = "coverage report -m"
pyflakes = "python -m pyflakes ."
lint = "pylint accounts restapi sysbanking"