{% extends "accounts/base.html" %}

{% block title %}{{ template_title }}{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row row-cols-1">
            <div class="col mb-3">
                <div class="card text-center">
                    <form method="POST">
                        <div class="card-header">
                            <span class="fs-6 fw-bold text-secondary-emphasis">
                                Create an Account
                            </span>
                        </div>

                        <div class="card-body d-flex flex-column justify-content-center gap-3">
                            {% csrf_token %}
                    
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                <div>{{ message }}</div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}

                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" name="number" id="number" placeholder="123456" required>
                                <label for="number" class="form-label">{{ form.number.label_tag }}</label>
                            </div>

                            <div id="initialBalanceInput" class="form-floating mb-3" style="display: none;">
                                <input type="number" step=".01" class="form-control" name="balance" id="balance" placeholder="123456" value=0>
                                <label for="balance" class="form-label">Initial Balance</label>
                            </div>

                            {% if form.number.errors %}
                            {% for error in form.number.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="type" value="simple" id="simple" autocomplete="off" checked>
                                <label class="btn btn-outline-secondary" for="simple">Simple Account</label>
                              
                                <input type="radio" class="btn-check" name="type" value="savings" id="savings" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="savings">Savings Account</label>
                              
                                <input type="radio" class="btn-check" name="type" value="bonus" id="bonus" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="bonus">Bonus Account</label>
                            </div>
                        </div>

                        <div class="card-footer d-flex flex-columns justify-content-evenly gap-3">
                            <button type="submit" class="btn btn-secondary flex-fill">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row row-cols-1">
            <div class="col mb-3">
                <div class="d-flex text-center justify-content-center gap-3">
                    <a href="{% url 'accounts:list' %}" class="btn btn-outline-secondary flex-fill">Back</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('input[type="radio"][name="type"]').forEach( e => {
            e.addEventListener('change', function() {
                if (this.value == "savings") {
                    initialBalanceInput.style.display = "block";               
                } else {
                    initialBalanceInput.style.display = "none";     
                    balance.value = 0;
                }
            })
        })
    </script>
    
{% endblock %}